//MARGINS
$gutter-width: 6rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//COLORS
$color-background: rgb(255, 248, 226);
$color-grey: #777;
$color-grey-light: #b1b1b1;
$color-rose: #fe7865;
$color-white: #fff;
$color-black: #000;
$color-gold: #ffd700;