.blog {
    margin-bottom: 15rem;

    &__card {
        border: .1rem solid $color-grey;

        @include respond(tab-port) {
            width: 75%;
            margin: 0 auto;
        }

        &--header {
        
        }

        &--image {

            &-pic {
                width: 100%;

            }
        }

        &--body {
            margin: 1.5rem;
            

        }

        &--footer {
            border-top: .1rem solid $color-grey;
            padding: 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-pic {
                border-radius: 50%;

            }
        }

        &--icon {
            padding: 1rem;
            transition: all 1s;

            &:hover {
                color: $color-rose;
            }
        }
    }
}

.footer-respond {
    @include respond(tab-port) {
        font-size: 4rem;
    }
}

.body-respond {
    @include respond(tab-port) {
        font-size: 3rem;
    }
}