.collection {

    &__container {
        position: relative;
        margin-bottom: 15rem;

        @include respond(tab-port) {
            width: 75%;
            margin: 2rem auto;
        }
    }

    &__image {
        
        

        &--pic {
            width: 100%;
            transition: all 1s;
            
            &:hover {
                transform: scale(1.1);
            }

            &-1 {
                @include respond(tab-port) {
                    height: 80rem;
                }
            }
        }
    }

    &__card {
        border: 1px solid $color-grey;
        max-width: 100%;
        text-align: center;

        @include respond(tab-port) {
            width: 75%;
            margin: 0 auto;
        }

        &--header {
            background-color: $color-grey-light;
            padding: 2rem;
            text-transform: uppercase;
        }
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 500;
    }

    &__link {
        display: block;
        border-bottom: 1px solid $color-grey;
        padding: 2rem;
        text-decoration: none;

        &:active,
        &:hover {
            background-color: $color-rose;
            color: $color-white;
            text-decoration: none;
            
        }
    }
}
