.contact {
    margin-bottom: 15rem;

    &__info {
        padding: 4rem;

        &--title {
            font-size: 3rem;
            margin-bottom: 4rem;
        }
    }

    &__form {
        padding: 4rem;

        &--input {
            width: 45%;
            font-size: 2rem;
            padding: 1rem;
            margin-bottom: 3.4rem;
            background-color: $color-input;

        }

        &--text {
            width: 95%;
            font-size: 2rem;
            background-color: $color-input;
            padding: 1rem;
        }
    }
}

.form-container {
    width: 100%;
    box-shadow: 0 1rem 2rem $color-black;

}

.contact-icon {
    margin-right: 1rem;
    color: $color-rose;
}