.header {

    &__bubble {
        position: absolute;
        border-radius: 50%;
        background-color: $color-rose;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        &--main {
            left: 28%;
            top: 25%;
            font-size: 1.8rem;
            width: 12rem;
            height: 12rem;


            @include respond(tab-port) {
                left: 85%;
                top: 30%;
                font-size: 1.3rem;
                width: 8rem;
                height: 8rem;
            }
        }

        &--offer {
            right: 2rem;
            top: 2rem;
            font-size: 2rem;
            width: 8rem;
            height: 8rem;
            z-index: 10;
        }

    }
}