.-u-paragraph-icon { font-size: 5rem; }
.-u-paragraph-icon-2 { font-size: 2.5rem; }
.-u-paragraph-rose { color: $color-rose; }
.-u-paragraph-showcase { padding-right: 10rem; }
.-u-paragraph-position { text-transform: uppercase; letter-spacing: .3rem; }
.-u-footer-align { display: inline-block; }
.-u-paragraph-body { font-size: 2rem; color: $color-black; }
.-u-paragraph-contact-1 { margin-bottom: 3rem; float: left; }
.-u-paragraph-contact-2 { margin-bottom: 3rem; float: left; }
.-u-paragraph-contact-3 { margin-bottom: 3rem; float: left; }
.-u-form-input-margin { margin-right: 3.4rem; }