.-u-paragraph-icon { font-size: 5rem; }
.-u-paragraph-icon-2 { font-size: 2.5rem; }
.-u-paragraph-rose { color: $color-rose; }
.-u-paragraph-showcase { padding-right: 10rem; }
.-u-paragraph-position { text-transform: uppercase; letter-spacing: .3rem; }